{%include "html_header.html" %}
{%include "html_body_top.html" %}
{%import 'macros.html' as macros %}
{% for mark in marks %}
    <div
      class="bookmark"
      data-mark-id="{{mark.id}}"
      data-mark-similar-link="{{ url_for_current_user('bookmarks.similar_view', mark_id=mark.id) }}"
    >
      {{- macros.bookmark_stars(mark) -}}
      {{- macros.bookmark_title_line(mark, show_similar=True) -}}<br />
      {% for tag in mark.tags %}
          <a href="{{ url_for_current_user('bookmarks.list_view', tag_name=tag) }}" class="mark_tag">{{tag|e}}</a>
      {% endfor %}
      {% if mark.note %}
          <div class="note">{{mark.note|e}}</div>
      {% endif %}
      {% if mark.incoming_links %}
          <div class="incoming_links">
              Incoming Links:
              <ul>
                {% for il in mark.incoming_links %}
                  <li class="incomingLinkListElement">{{macros.bookmark_title_line(il, show_similar=False)}}</li>
                {% endfor %}
              </ul>
          </div>
      {% endif %}
      <div class="similar"></div>
    </div>
    {%if show_edit %}
        <p>
        [<a href="{{ url_for_current_user('bookmarks.new_edit_view', mark_id=mark.id) }}" id="global-edit-link">edit</a>]
        </p>
    {%endif %}
{% endfor %}
{%include "html_body_bottom.html" %}
