## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="${s_baseurl}/style.css" rel="stylesheet" type="text/css">
    <script src="${s_baseurl}/showdown.js" type="text/javascript"></script>
    <script src="${s_baseurl}/jquery.js" type="text/javascript"></script>
    <script src="${s_baseurl}/slasti.js" type="text/javascript"></script>
</head>
<body>
    <div id="mapwrap" style="display:none">
        <div id="mapclosebtn">×</div>
        <div id="mapdisplay"></div>
    </div>
