## -*- coding: utf-8 -*-
<%! import time %>
<%include file="html_header.html"/>
<%include file="html_body_top.html"/>
% for mark in marks:
    <div class="bookmark" data-mark-id="${mark.key_str()}">${time.strftime('%Y-%m-%d', time.gmtime(mark.time))}
      [<span class="mark_meta_links"
         ><a href="${s_userurl}/mark.${mark.key_str()}" class="mark">&#9734;</a
         ><sup class="mark_mini_actions"
           ><a href="${s_userurl}/edit?mark=${mark.key_str()}">e</a>,
            <a href="javascript:void(0)" class="copyButton">c</a>,
            <a href="javascript:void(0)" class="similarButton">s</a
         ></sup
       ></span>]
      <a href="${mark.url | filter.attr}" class="mark_link"
          >${mark.title | filter.html}</a><br />
      % for tag in mark.tags:
          % if tag:
          <a href="${s_userurl}/${tag | filter.attr}/" class="mark_tag"
                  >${tag | filter.html}</a>
          % else:
              -
          % endif
      % endfor
      % if not mark.tags:
      -
      % endif
      % if mark.note:
          <div class="note">${mark.note | filter.html}</div>
      % endif
      <div class="similar"></div>
    </div>
    %if show_edit:
        <p>
        [<a href="${s_userurl}/edit?mark=${mark.key_str()}" id="global-edit-link">edit</a>]
        </p>
    %endif
% endfor
<%include file="html_body_bottom.html"/>
