{%set title = WHITESTAR %}

{%include "html_header.html"%}
{%include "html_body_top.html"%}
<form action="{{url_for_current_user('.new_edit_post_view', mark_id=mark.id)}}" method="POST" name="editform">
<div class="editform-container">
  <div class="editform-elem margin-above">Title</div>
  <div class="editform-elem flex-container">
    <input name="title" type="text" maxlength=1024 id="edt_title"
             value="{{mark.title|e}}" />
  </div>
  <div class="editform-elem margin-above">URL</div>
  <input name="url" type="text" maxlength=1024 value="{{mark.url|e}}"/>

  <div class="editform-elem margin-above">Tags</div>
  <input name="tags" type="text" maxlength=1024 value="{{' '.join(mark.tags or [])|e}}"/>

  <div class="editform-elem margin-above">Notes</div>
  <div class="flex-container">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"
      integrity="sha512-GZ1RIgZaSc8rnco/8CXfRdCpDxRCphenIiZ2ztLy3XQfCbQUSCuk8IudvNHxkRA3oUg6q0qejgN/qqyG1duv5Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-markdown.min.js"
      integrity="sha512-8euv05RhbuOcZWj/kpF+KtKN7g1CPx7buTZjIBf/rZQz47cduH3DERWoqJFrIYE0TzaIlptz+Ir2BodrmLT8kQ==" crossorigin="anonymous"></script>
    <div id="note-text" contenteditable="true" spellcheck="true" tabindex="-1">{{(mark.note or '')|e}}</div>
    <textarea name="note" type="text" id="note-textarea">{{(mark.note or '')|e}}</textarea>
  </div>

   <div id="cheatsheet_wrap" class="editform-elem-colspan alignRight posRelative">
       <a id="markdown_zoom_out_btn" href="javascript:void(0)">Z-</a>
       <a id="markdown_zoom_in_btn" href="javascript:void(0)">Z+</a>
       <a id="markdown_cheatsheet_btn" href="javascript:void(0)">CheatSheet</a>
       <div id="markdown_cheatsheet" style="display:none">
           &#35; H1<br/>
           &#35;&#35; H2<br/>
           [Link](URL)<br/>
           ![Picture alt](URL)<br/>
           _italics_, **bold**, `code`<br/>
           ---- hr<br/>
           <a href="https://github.com/ajaxorg/ace/wiki/default-keyboard-shortcuts">ACE Editor Keyboard Shortcuts</a>
       </div>
   </div>
   <div class="editform-elem-colspan margin-above">
     <input name=action type=submit value="Save" />
   </div>
</div>
</form>

{% if mark.id is not none %}
<p>or</p>
<form action="{{ url_for_current_user('bookmarks.delete_view', mark_id=mark.id) }}" method="POST">
  <input name=action type=submit value="Delete" />
  (There is no undo.)
</form>
{% endif %}

{% if same_url_marks %}
    <p>
    Already bookmarked:
    <ul>
    {% for smark in same_url_marks %}
    <li>
        {{smark.time | format_date}}
        [<a href="{{ url_for_current_user('bookmarks.mark_view', mark_id=smark.id) }}">{{WHITESTAR}}</a>]
        <a href="{{smark.url|e}}"
            >{{(smark.title or smark.url)|e}}</a>
    </li>
    {% endfor %}
    </ul>
    </p>
{% endif %}

{% if similar_marks %}
    <p>{%include "similar.html"%}</p>
{% endif %}

<div id="note-rendered-container" style="display: none">
  <h2>Comment (rendered)</h2>
  <div id="note-rendered"></div>
</div>
</body>
</html>
