
textarea {
    resize:vertical;
}

div {
    border: 0px;
    margin: 0px;
}

.note > p {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.note img {
    max-width: 80%;
}

.bookmark {
    margin-left: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.bar_top {
    width: 100%;
    background: #ebf7eb;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

form {
    margin: 0px 0px 0px 0px;
    display: inline;
}

h2.username {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 8px;
}

#mapwrap {
    display: none;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: #aaa;
    padding: 5px;
}

#mapdisplay {
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

#mapclosebtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    height: 1em;
    text-align: center;
    vertical-align: middle;
    z-index: 10000;
    padding: 5px;
    font-weight: bold;
    background-color: #aaa;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.markerContent {
    font-size: 85%;
}
.olPopup {
    pointer-events: none;
}
.olFramedCloudPopupContent {
    pointer-events: auto;
}
div.olControlAttribution {
    text-align: right;
    bottom: 3px;
}
#markdown_cheatsheet_btn {
    font-size: 80%;
}
#markdown_cheatsheet {
    position: absolute;
    right: 0px;
    text-align: left;
    background-color: #eee;
    padding: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.alignRight {
    text-align: right;
}
.posRelative {
    position: relative;
}
